@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-hue: 220;
        --color-secondary-hue: 179;

        --color-primary: var(--color-primary-hue) 70% 60%;
        --color-primary-100: var(--color-primary-hue) 70% 95%;
        --color-primary-200: var(--color-primary-hue) 70% 85%;
        --color-primary-300: var(--color-primary-hue) 70% 75%;
        --color-primary-400: var(--color-primary-hue) 70% 65%;
        --color-primary-500: var(--color-primary-hue) 70% 55%;
        --color-primary-600: var(--color-primary-hue) 70% 45%;
        --color-primary-700: var(--color-primary-hue) 70% 35%;
        --color-primary-800: var(--color-primary-hue) 70% 25%;
        --color-primary-900: var(--color-primary-hue) 70% 15%;
        --color-primary-950: var(--color-primary-hue) 70% 5%;

        --color-secondary: var(--color-secondary-hue) 79% 45%;
        --color-secondary-100: var(--color-secondary-hue) 79% 95%;
        --color-secondary-200: var(--color-secondary-hue) 79% 85%;
        --color-secondary-300: var(--color-secondary-hue) 79% 75%;
        --color-secondary-400: var(--color-secondary-hue) 79% 65%;
        --color-secondary-500: var(--color-secondary-hue) 79% 55%;
        --color-secondary-600: var(--color-secondary-hue) 79% 45%;
        --color-secondary-700: var(--color-secondary-hue) 79% 35%;
        --color-secondary-800: var(--color-secondary-hue) 79% 25%;
        --color-secondary-900: var(--color-secondary-hue) 79% 15%;
        --color-secondary-950: var(--color-secondary-hue) 79% 5%;
    }

    .padding-main {
        @apply px-5 lg:px-[1.075rem] xl:px-10;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-Thin.woff2');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-UltraLight.woff2');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-Light.woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-Regular.woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-Medium.woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-DemiBold.woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-Bold.woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-ExtraBold.woff2');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-Black.woff2');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-ExtraBlack.woff2');
        font-weight: 950;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'IRANYekanXVF';
        src: url('/fonts/IranYekanX/IRANYekanX-Heavy.woff2');
        font-weight: 1000;
        font-style: normal;
        font-display: swap;
    }
}